@font-face { 
    font-family: 
        nfm; 
        src: url('NFM.otf'); 
} 

@font-face { 
    font-family: 
        nfm; 
        font-weight: bold; 
        src: url('NFMB.otf');
}

body {
    font-size: 18px;
    background-color: rgb(73, 13, 100);
}

h1 {
    font-family: nfm;
    font-weight: bold;
    font-size: 400%;
    color: rgba(255, 255, 255, 0.65);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    margin: 2px;
    margin-top: 10px;
    padding: 10px 20px;
    width: max-content;
}

h2 {
    font-family: nfm;
    font-weight: bold;
    font-size: 330%;
    color: rgba(255, 255, 255, 0.69);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 22px;
    margin: 2px;
    margin-top: 10px;
    padding: 10px 20px;
    width: max-content;
}

h3 {
    font-family: nfm;
    font-weight: bold;
    font-size: 260%;
    color: rgba(255, 255, 255, 0.72);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    margin: 2px;
    margin-top: 10px;
    padding: 10px 20px;
    width: max-content;
}

h4 {
    font-family: nfm;
    font-weight: bold;
    font-size: 220%;
    color: rgba(255, 255, 255, 0.75);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    margin: 2px;
    margin-top: 5px;
    padding: 10px 20px;
    width: max-content;
}

h5 {
    font-family: nfm;
    font-weight: bold;
    font-size: 180%;
    color: rgba(255, 255, 255, 0.78);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    margin: 2px;
    margin-top: 5px;
    padding: 10px 20px;
    width: max-content;
}

h6 {
    font-family: nfm;
    font-weight: bold;
    font-size: 140%;
    color: rgba(255, 255, 255, 0.81);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    margin: 2px;
    margin-top: 5px;
    padding: 10px 20px;
    width: max-content;
}

p:not(blockquote p) {
    font-family: 'Courier New', Courier;
    font-size: 100%;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    margin: 10px 20px;
    padding: 10px 15px;
}

blockquote {
    font-family: 'Courier New', Courier;
    font-size: 100%;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 10px 20px;
}

table {
    border-collapse: separate;
    background-color: rgba(255, 255, 255, 0.2);
    border: 0px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

thead {
    font-family: 'Courier New', Courier;
    font-weight: bold;
    font-size: 110%;
    color: rgba(255, 255, 255, 0.9);
    border: 0px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    margin: 2px;
    padding: 2px;
}

tbody {
    font-family: 'Courier New', Courier;
    font-size: 90%;
    color: rgba(255, 255, 255, 0.9);
    border: 0px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    margin: 2px;
    padding: 2px;

}

th, td, tr {
    border: 0px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 2px;
    padding: 10px;
}

ol:not(ol ol), ul:not(ul ul) {
    font-family: 'Courier New', Courier;
    font-size: 100%;
    list-style-position: inside;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

code:not(pre code) {
    font-family: 'Courier', Courier, monospace;
    font-size: 90%;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 2px;
    padding: 2px;
}

pre {
    font-family: 'Courier', Courier, monospace;
    font-size: 100%;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 10px;
    padding: 4px;
}

hr {
    background-color: rgba(255, 255, 255, 0.9);
    border: 0px solid rgba(255, 255, 255, 0.9);
    border-radius: 6px;
    margin: 2px;
    padding: 4px 2px;
}

a:link {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    margin: 6px;
    padding: 2px 4px;
    transition-duration: 0.2s;
}

a:visited {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    margin: 6px;
    padding: 2px 4px;
    transition-duration: 0.2s;
}

a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    border-radius: 5px;
    margin: 2px;
    padding: 6px 8px;
    transition-duration: 0.2s;
}