@font-face { 
    font-family: 
        nfm; 
        src: url('NFM.otf'); 
} 

@font-face { 
    font-family: 
        nfm; 
        font-weight: bold; 
        src: url('NFMB.otf');
}

body {
    font-size: 12px;
    background-color: rgb(73, 13, 100);
}

p {
    font-family: Cambria, serif;
    font-size: 100%;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    margin: 2px;
    padding: 5px;
}

h1 {
    font-family: nfm;
    font-weight: bold;
    font-size: 300%;
    color: rgba(255, 255, 255, 0.65);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
}

h2 {
    font-family: nfm;
    font-weight: bold;
    font-size: 260%;
    color: rgba(255, 255, 255, 0.69);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
}

h3 {
    font-family: nfm;
    font-weight: bold;
    font-size: 220%;
    color: rgba(255, 255, 255, 0.72);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
}

h4 {
    font-family: nfm;
    font-weight: bold;
    font-size: 160%;
    color: rgba(255, 255, 255, 0.75);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    margin: 2px;
    padding: 5px;
}

h5 {
    font-family: nfm;
    font-weight: bold;
    font-size: 140%;
    color: rgba(255, 255, 255, 0.78);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    margin: 2px;
    padding: 5px;
}

h6 {
    font-family: nfm;
    font-weight: bold;
    font-size: 120%;
    color: rgba(255, 255, 255, 0.81);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    margin: 2px;
    padding: 5px;
}

table {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

thead {
    font-family: Cambria, serif;
    font-weight: bold;
    font-size: 110%;
    color: rgba(255, 255, 255, 0.9);
    border: 5px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    margin: 2px;
    padding: 2px;
}

tbody {
    font-family: Cambria, serif;
    font-size: 90%;
    color: rgba(255, 255, 255, 0.9);
    border: 5px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    margin: 2px;
    padding: 2px;

}

ol:not(ol ol),
ul:not(ul ul) {
    font-family: Cambria, serif;
    font-size: 100%;
    list-style-position: inside;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    margin: 2px;
    padding: 2px;
}

code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 2px;
    padding: 2px;
}

pre {
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 2px;
    padding: 2px;
}

a:link {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    margin: 4px;
    padding: 2px;
    transition-duration: 0.2s;
}

a:visited {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    margin: 4px;
    padding: 2px;
    transition-duration: 0.2s;
}

a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    border-radius: 5px;
    margin: 2px;
    padding: 4px;
    transition-duration: 0.2s;
}